# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
# Xcode specific files
build/
DerivedData/
xcuserdata/
*.xccheckout
*.xcscmblueprint
# Other common files
*.swp
*.lock
*.log
*.pyc
*.pyo
*.env
